name: Gradle build and publish package to local

on:
  workflow_call:
    inputs:
      acr-name:
        required: true
        type: string
    secrets:
      external-maven-repo-password:
        required: true

jobs:
  build:
    name: Gradle build and test.
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file
          cache: 'gradle'
      - name: Set gradlew executalbe
        run: chmod +x gradlew
      - name: Set image version by tag
        run: echo "PACKAGE_VERSION=$GITHUB_REF_NAME" >> $GITHUB_ENV
        if: github.ref_type == 'tag'
      - name: Set image version by property
        run: echo "PACKAGE_VERSION=$(grep "^version=" gradle.properties | cut -d'=' -f2 | tr -d '[:space:]')" >> $GITHUB_ENV
        if: github.ref_type != 'tag'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3.3.2
        env:
          ORG_GRADLE_PROJECT_externalMavenRepoUrl: https://pkgs.dev.azure.com/ColdChainConn/_packaging/conn_api/maven/v1
          ORG_GRADLE_PROJECT_externalUsername: ColdChainConn
        with:
          arguments: |
            build 
            -Pversion=${{ env.PACKAGE_VERSION }}
            -PexternalPassword=${{ secrets.external-maven-repo-password }}
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: build/libs/*.jar
      - name: Upload test report if build failed
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: build-reports
          path: '**/build/reports/**/*'
          retention-days: 5
  download-artifacts:
    runs-on: [ self-hosted,gdc ]
    needs: build
    steps:
      - name: Dowaload build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: "\\artifacts\\${{ github.repository }}\\${{ github.ref_name }}"
      - name: Delete artifacts
        uses: copelandsoftware/delete-artifact@v1
        with:
          name: build-artifacts




