name: Gradle build and docker package

on:
  workflow_call:
    inputs:
      acr-name:
        required: true
        type: string
      publish-jar:
        description: 'True to publish jars'
        required: false
        type: boolean
    secrets:
      external-maven-repo-password:
        required: true
      acr-username:
        required: true
      acr-password:
        required: true

jobs:
  build:
    name: Gradle build and test.
    runs-on: ubuntu-latest
    outputs:
      stable-version: ${{ steps.check-package-version.outputs.stable-version }}
      package-version: ${{ steps.check-package-version.outputs.package-version }}
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file
        cache: 'gradle'
    - name: Set version by tag
      run: echo "PACKAGE_VERSION=$GITHUB_REF_NAME" >> $GITHUB_ENV
      if: github.ref_type == 'tag'
    - name: Set image version by property
      run: echo "PACKAGE_VERSION=$(grep "^version=" gradle.properties | cut -d'=' -f2 | tr -d '[:space:]')" >> $GITHUB_ENV
      if: github.ref_type != 'tag'
    - name: Check Package Version
      id: check-package-version
      run: |
        echo "package-version=${{ env.PACKAGE_VERSION }}" >> $GITHUB_OUTPUT
        if [[ ${{ env.PACKAGE_VERSION }} =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "stable-version=true" >> $GITHUB_OUTPUT
        fi
    - name: Set gradlew executalbe
      run: chmod +x gradlew
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v3.3.0
      env:
        ORG_GRADLE_PROJECT_externalMavenRepoUrl: https://pkgs.dev.azure.com/ColdChainConn/_packaging/conn_api/maven/v1
        ORG_GRADLE_PROJECT_externalUsername: ColdChainConn
      with:
        arguments: |
          build 
          -PexternalPassword=${{ secrets.external-maven-repo-password }}
          -Pversion=${{ env.PACKAGE_VERSION }}
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      #if: ${{ inputs.publish-jar || steps.check-package-version.outputs.stable-version == 'true' }}
      with:
        name: build-artifacts
        path: build/libs/*.jar
    - name: Upload test report if build failed
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: build-reports
        path: '**/build/reports/**/*'
        retention-days: 5
  image-build:
    name: Build docker image and push
    needs: build
    runs-on: ubuntu-latest
    #if: needs.build.outputs.stable-version == 'true'
    steps:
    - uses: actions/checkout@v4
    - name: Dowaload build artifacts
      uses: actions/download-artifact@v4
      with:
        name: build-artifacts
    - name: Display structure of downloaded files
      run: ls
    - name: Set image name and version
      run: |
        echo "IMAGE=${{ inputs.acr-name }}.azurecr.io/${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
        echo "IMAGE_VERSION=${{ needs.build.outputs.package-version }}" >> $GITHUB_ENV
    - name: Login azure container registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ inputs.acr-name }}.azurecr.io
        username: ${{ secrets.acr-username }}
        password: ${{ secrets.acr-password }}
    - name: Build and push docker images
      run: |        
        docker build . -t $IMAGE:$IMAGE_VERSION -t $IMAGE:latest --no-cache --build-arg JAR_FILE=*.jar
        docker push  $IMAGE:$IMAGE_VERSION
        docker push  $IMAGE:latest
  publish-artifacts:
    runs-on: [self-hosted,gdc]
    if: ${{ inputs.publish-jar }}
    needs: build
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: "\\artifacts\\${{ github.repository }}\\${{ github.ref_name }}"
  cleanup-artifacts:
    runs-on: [self-hosted,gdc]
    needs: [image-build, publish-artifacts]
    steps:
      - name: Delete artifacts
        uses: emersonsoftware/delete-artifact@v1
        with:
          name: build-artifacts

    
    
    
