name: Set environment variable

on:
  workflow_call:
    inputs:
      env-name:
        required: true
        type: string
      env-json:
        required: true
        type: string
    secrets:
      credentails:
        required: true
jobs:
  set-params:
    runs-on: ubuntu-latest
    outputs:
      env-json: ${{ steps.setValue.outputs.env-json }}
      azure-credentials: ${{ steps.setValue.outputs.azure-credentials }}
    steps:
      - id: setValue
        name: set values for ${{ inputs.env-name }}
        run: |
          export envjson = "${{ inputs.env-json }}"
          envjson="${envjson//'%'/'%25'}"
          envjson="${envjson//$'\n'/'%0A'}"
          envjson="${envjson//$'\r'/'%0D'}"
          echo 'input is ${{ inputs.env-json }}, credential is ${{ secrets.credentails }}'
         
